html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

/* Your Styles */

.wrapper {
  max-width: 800px;
  padding: 2rem;
}

.product-form {
  border-radius: 4px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.85);
  padding: 1rem;
  background-color: #D5D5D5;
  margin: 0 auto;
  max-width: 400px;
}

.product-form .form-group {
  margin: 1rem 0;
  display: flex;
}

.product-form .form-group label {
  text-align: right;
  padding-right: 2rem;
  width: 20%;
}

.product-form .form-group input {
  flex-grow: 3;
}

.product-form input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 95%);
  display: block;
  padding: 0.5rem 2rem;
  margin: 0.75rem auto 0.5rem;
}

.products-table {
  border-spacing: 0;
  margin: 4rem 0 0 0;
  max-width: 800px;
  width: 100%;
}

.products-table thead th {
  background-color: hsl(0, 0%, 15%);
  color: white;
}
